.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e6eed8;
    overflow-y: hidden;
    transition: 1.2s;
}
.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    text-align: center;
}
.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 40px;
    color: rgb(6, 3, 36);
    display: block;
    transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
    color: black;
}
.overlay .closebtn {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
    color: red;
    z-index: 4;
}

