.tooltitle::before {
content: "особый тип континентального магматизма";
display: none;
position: absolute;
right: 15%;
width: 375px;
text-align: center;
background-color: #fef4c5;
border: 1px solid #d4b943;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
-ms-border-radius: 2px;
border-radius: 2px;
}
.tooltitle:hover::before {
display: inline-block;
}
